<!doctype html>
<html lang="en">
    <!doctype html>
    <html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
      
        <link rel="stylesheet" href="./css/style.css">
    
        <title>Friend Finder | Survey</title>
      </head>
      <body>
        <div class="wrapper">
          <div class="container-fluid">
            <div class="container header">
               <div class="row">
                  <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                      <h1 class="header-title">Friend Finder</h1>
                      <img src="/img/logo/friend-finder.png" width="200" height="200" class="d-inline-block align-top" alt="">
                    </div>
                   
                <div class="col-sm-12 col-md-8 col-lg-8">
                   <form>
                      <div class="form-group">
                        <label for="first name">Name</label>
                        <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp" placeholder="Enter Your Name">
                        <small id="firstNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <div class="form-group">
                        <label for="image link">Url of image</label>
                        <input type="text" class="form-control" id="imageLink" placeholder="Url of image">
                      </div>
                     <div class="form-group">
                        <h1>Question 1</h1>
                         <h3>Your mind is always buzzing with unexplored ideas and plans.</h3>
                         <select class="form-control" name="select" id="select1">
                          <option value="1">1 (Strongly Disagree)</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5 (Strongly Agree)</option>
                        </select>
                      </div>
                      <div class="form-group">
                          <h1>Question 2</h1>
                           <h3>Generally speaking, you rely more on your experience than your imagination.</h3>
                           <select class="form-control" name="select" id="select2">
                            <option value="1">1 (Strongly Disagree)</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5 (Strongly Agree)</option>
                          </select>
                        </div>
                      
                        <div class="form-group">
                            <h1>Question 3</h1>
                             <h3>You find it easy to stay relaxed and focused even when there is some pressure.</h3>
                             <select class="form-control" name="select" id="select3">
                              <option value="1">1 (Strongly Disagree)</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5 (Strongly Agree)</option>
                            </select>
                          </div>
                      
                          <div class="form-group">
                              <h1>Question 4</h1>
                               <h3>You rarely do something just out of sheer curiosity.</h3>
                               <select class="form-control" name="select" id="select4">
                                <option value="1">1 (Strongly Disagree)</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5 (Strongly Agree)</option>
                              </select>
                            </div>
                      
                            <div class="form-group">
                                <h1>Question 5</h1>
                                 <h3>People can rarely upset you.</h3>
                                 <select class="form-control" name="select" id="select5">
                                  <option value="1">1 (Strongly Disagree)</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5 (Strongly Agree)</option>
                                </select>
                              </div>
                      
                              <div class="form-group">
                                  <h1>Question 6</h1>
                                   <h3>It is often difficult for you to relate to other people’s feelings. </h3>
                                   <select class="form-control" name="select" id="select6">
                                    <option value="1">1 (Strongly Disagree)</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5 (Strongly Agree)</option>
                                  </select>
                                </div>
                      
                                <div class="form-group">
                                    <h1>Question 7</h1>
                                     <h3>In a discussion, truth should be more important than people’s sensitivities.</h3>
                                     <select class="form-control" name="select" id="select7">
                                      <option value="1">1 (Strongly Disagree)</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5 (Strongly Agree)</option>
                                    </select>
                                  </div>
                      
                                  <div class="form-group">
                                      <h1>Question 8</h1>
                                       <h3>You rarely get carried away by fantasies and ideas.
                                        </h3>
                                       <select class="form-control" name="select" id="select8">
                                        <option value="1">1 (Strongly Disagree)</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5 (Strongly Agree)</option>
                                      </select>
                                    </div>
                      
                                    <div class="form-group">
                                        <h1>Question 9</h1>
                                         <h3>You think that everyone’s views should be respected regardless of whether they are supported by facts or not.
                                          </h3>
                                         <select class="form-control" name="select" id="select9">
                                          <option value="1">1 (Strongly Disagree)</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5 (Strongly Agree)</option>
                                        </select>
                                      </div>
                      
                                      <div class="form-group">
                                          <h1>Question 10</h1>
                                           <h3>You feel more energetic after spending time with a group of people.
                                            </h3>
                                           <select class="form-control" name="select" id="select10">
                                            <option value="1">1 (Strongly Disagree)</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5 (Strongly Agree)</option>
                                          </select>
                                        </div>
                                        
                      <button type="submit" id="sendButton" class="btn btn-primary btn-block">Submit</button>
                    </form>
                  </div>
                 </div>
                </div>
            </div>
          </div>

     <!-- Modal -->
   <p id="modalText"></p>
       <div class="modal fade" id="matchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="media">
                <img id="matchPhoto"  class="mr-3" width="100" height="100" >
                <div class="media-body">
                  <h5 class="mt-0" id="matchName"></h5>
                 
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
          </div>
        </div>
      </div>
     
    <!-- End modal -->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript">
  $( document ).ready(function() {
    $("#sendButton").on('click', (e)=>{
      e.preventDefault();


      let userData = {
        firstName: $("#firstName").val().trim(),
        imageLink: $("#imageLink").val().trim(),
        score: 
        [$("#select1").val().trim(),
        $("#select2").val().trim(),
        $("#select3").val().trim(),
        $("#select4").val().trim(),
        $("#select5").val().trim(),
        $("#select6").val().trim(),
        $("#select7").val().trim(),
        $("#select8").val().trim(),
        $("#select9").val().trim(),
        $("#select10").val().trim()
                 ]
        

      }
     
      
      

      $.post("/api/survey",userData,(result)=>{
        if (result) {
          const match = result;
          $('.modal-header').text('Searching...');
          $('#matchModal').modal('show')
          $('#matchPhoto').attr('src',match.photo).hide()
         setTimeout(function(){
          $('.modal-header').text('');
          var title = $('<h5>');
            title.addClass('modal-title');
            title.attr('id','matchTitle');
            title.text('Best match for You!')
            $('#matchName').text(match.name)
            $('#matchPhoto').attr('src',match.photo).show()
            $('.modal-header').prepend(title);
            
          

         },3000)
          
          
          
        }else {
          alert("We can't register at this time");
        }

      })
      
    })
    
});
        </script>
      </body>
    </html>
